<template>
  <v-container class="pa-0" >
    <v-row justify="space-around" align="center">
      <v-dialog
        v-model="dialog"
        hide-overlay
        persistent
        width="300"
      >
        <v-card
          color="primary"
          dark
        >
          <v-card-text>
            Cargando, espere por favor
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>

<script>
  import {mapActions , mapGetters} from 'vuex'

  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'

  const {Base64} = require('js-base64');

  export default {

    components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores ],

    data: () => ({
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      dialog: true,
      
      password: '',
      email   :'',
      sesion  : 0,
    }),

    created(){
      if(this.$route.params.id != undefined){
        this.cargar = true

        this.$http.get('users/' + Base64.decode(this.$route.params.id)).then(response=>{
          // Verificamos que haya iniciado sesión el usuario
          if(response.body.sesion == 1){
            this.cargar = false
          	// Guardamos los parametros
            this.email    = response.body.email
            this.password = response.body.password
            this.sesion   = response.body.sesion
            // Verificamos el nivel del usuario
            this.ingresar()
          }else{
            window.location = 'http://mikai.mx/intranet/#/' 
          }
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      }else{
        window.location = 'http://mikai.mx/intranet/#/' 
      }
    },


    methods:{
      ...mapActions('Login',['GetInfoUser']),

      ingresar (){
      	// Cargamos la libreria
        var md5     = require('md5')

        this.cargar = false
        
        // Validamos la sesión, si es uno
        if(this.sesion == 1){
          var usuario = { "email" : this.email, "password": this.password}
        }else{
          // Si no, mandamos otros parameteos encriptados
          var usuario = { "email" : this.email, "password": md5(this.password)}
        }

        // Traemos la información del usuario
        this.GetInfoUser(usuario).then(response => {
          if(response == false){
            return this.validarErrorDirecto("Verifica que tus datos esten correctos")
          }else if(response == true){
          	this.cargar = false
            this.$router.push({ name: 'home' })  
          }else{
            return this.validarErrorDirecto("Verifica que tus datos esten correctos")
          }
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      }
    }
  };


</script>

<style scoped>
  #img{
    border-radius: 20px;
  }
</style>





  