<template>
	<v-dialog
    v-model="alertaSinTeacher.estatus"
    persistent
    max-width="800"
  >
    <v-card>
      <v-card-title class="text-h5">
      </v-card-title>
      <v-card-text class="black--text">
      	<v-row>
      		<v-col cols="12" md="4">
        		<v-img src="@/assets/alerta.gif" />
      		</v-col>
      		<v-col cols="12" md="8">
  					<span class="text-h6">{{ alertaSinTeacher.mensaje }}</span>
      		</v-col>
      	</v-row>
      </v-card-text>
      <v-card-actions>
      	<v-btn
          color="black"
          tile
          dark
          block
          @click="cerrar()"
        >
        	<v-icon small left>mdi-cancel</v-icon>
          Cancelar
        </v-btn>
      </v-card-actions>
    </v-card>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-dialog>
</template>
<script>
import axios from 'axios';

	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import { mapGetters, mapActions }  from 'vuex';
  import funcionesExcel        from '@/mixins/funcionesExcel'


	export default {

		components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores, funcionesExcel ],

		props:[
			'alertaSinTeacher',
	  ],

    computed: {
      ...mapGetters('login', ['getdatosUsuario', 'getLogeado', 'getEscuela','drawer2','getEstatusLlamada','getNuevosProspectos']),
    },

    data: () => ({

    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      motivo: '',

    }),

    methods:{
      cerrar(){
      	this.alertaSinTeacher.estatus = false
      },

    }
	}
</script>
